<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>changepassword</title>
	{%include "head.html"%}
</head>
<body style="background-image: url(https://live.staticflickr.com/7758/18134895316_c02ecc9d5a_b.jpg); background-size:1500px;">
	{%include "menu.html"%}
	<h2 align="center" style="color:white;">Change Password</h2>
	<center style="color:white;">{{msg}}</center>
	<table align="center" width="60%">
		<tr>
			<td>
				<form name="frm" method="post">
					<font color="red">*</font>
					<font color="white">Current Password</font>
					<input type="password" class="form-control" name="currentpassword" autofocus="on" required><br>
					<font color="red">*</font>
					<font color="white">New Password</font>
					<input type="password" class="form-control" name="newpassword" autofocus="on" required><br>
					<font color="red">*</font>
					<font color="white">Confirm New Password</font>
					<input type="password" class="form-control" name="confirmnewpassword" autofocus="on" required><br>
					<br/>
					<center>
						<input type="submit" name="btnsubmit" value="Changepassword" class="btn btn-success">
						<input type="reset" name="cancel" value="Cancel" class="btn btn-warning">
					</center>
                     {%csrf_token%}
					
				</form>
			</td>
		</tr>
		
	</table>

</body>
</html>