<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Hi</title>
	<link rel="stylesheet" type="text/css" href="styles.css">	
	{%include "head.html"%}
	
</head>
<body style="background-image: url(https://japan-web-magazine.com/keyword/beautiful/26.jpg); background-size: 1500px;">
	{%include "menu3.html"%}
	<h2 align="center" style="color: white;">Register</h2>
	<center style="color: white;">{{msg}}</center>
	<table align ="center" width ="50%" >
		<tr>
		<td>			
			<form  name="register" autocomplete="off" method="POST">
				<font color ="red">*</font>
				

					<font color="white">Full Name</font>
					<input required autofocus ="on" class="form-control" type="text" name="fullname"><br>
					<font color ="red">*</font>
				    <font color="white">Contact Number</font>
					<input required  class="form-control" type="number" name="contactnumber"><br>
					<font color ="red">*</font>
					<font color="white">Address</font>
					
					<textarea cols="45" rows="2" name="address" value="address" class="form-control"></textarea><br>
					<font color ="red">*</font>
					<font color="white">Gender</font>
					
                     <input type="radio" name="gender" value="female"> <font color="white">Female</font>
                     <input type="radio" name="gender" value="male"><font color="white">Male</font>
					<br>
					<font color ="red">*</font>
					<font color="white">Date of birth</font>
					
					<input required class="form-control" type="date" id="birthday" name="dateofbirth"><br>
					<font color ="red">*</font>
					<font color="white">Qualification</font>
                    
					<select class="form-control"  name="qualification">
					<option>B.Sc</option>
					<option>BE</option>
					<option>BA</option>
					<option>LLB</option>
					<option>B.Com</option>
					<option>BBA</option>
			        </select><br>
					<font color ="red">*</font>
					<font color="white">Username</font>
					
					<input autofocus ="on" class="form-control" type="text" name="username" required><br>
					<font color ="red">*</font>
					<font color="white">Password</font>
					
					<input required  class="form-control" type="password" name="password"><br>
					<br/>
					<center>
						<input class="btn btn-success" type="submit" name="register" value="Register">
						<input type="reset" name="cancel" value="Cencel" class="btn btn-warning">
					</center>
					{%csrf_token%}
            </form>
        </td>
    </tr>
    </table>

</body>
</html>