<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Student</title>
	{%include "head.html"%}
</head>
<body style="background-image: url(https://live.staticflickr.com/7758/18134895316_c02ecc9d5a_b.jpg); background-size:1500px;">
	{%include "menu2.html"%}
	<h2 align="center" style="color:white;">Vehicle Entered Data</h2>
	<center style="color:white;">{{msg}}</center>
	<table align="center" border="1">
		<tr>
			<th style="color:white;">State</th>
			<th style="color:white;">NH Number</th>
			<th style="color:white;">Vehicle Type</th>
			<th style="color:white;">Vehicle Number</th>
			<th style="color:white;">Plan</th>
			<th style="color:white;">Contact Number</th>
			<th style="color:white;">Delete</th>
			



		</tr>
		{% for d in data %}
		<tr>
			<td style="color:white;">{{d.state}}</td>
			<td style="color:white;">{{d.nhnumber}}</td>
			<td style="color:white;">{{d.vehicletype}}</td>
			<td style="color:white;">{{d.vehiclenumber}}</td>
			<th style="color:white;">{{d.selectplan}}</th>
			<th style="color:white;">{{d.contactnumber}}</th>
			<td>
				<form name="frm" method="post">
					<input type="hidden" name="sid" value="{{d.id}}">
					<input class="btn btn-danger" type="submit" name="data" value="X">
					{% csrf_token %}
				</form>
			</td>
		</tr>
		{% endfor %}
		

</body>
</html>